<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Pedido</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
                    <li class="breadcrumb-item active">Pedidos</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" (click)="creating=true;" data-toggle="modal"
                    data-target="#modal-default"><i class="fa fa-plus"></i>&nbsp;&nbsp; Nuevo pedido</button>
                <br><br>
            </div>
        </div>
        <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
           
            
                <label for="startDate">Fecha de inicio:</label>
                <input type="date" Name="" formControlName="StartDate" style="margin-right:10px;">
                    <label for="endDate">Fecha de fin:</label>
                <input type="date"  Name="" formControlName="EndDate">
            
           
            <button type="submit" class="btn btn-success">Buscar</button>
            
          </form>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Lista de Pedidos</h3>
                    </div>
                    <div class="card-body table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table"
                            class="table row-border hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Fecha de pedido</th>
                                    <th>Fecha de recepción</th>
                                    <th>Fecha de despacho</th>
                                    <th>Fecha de entrega</th>
                                    <th>Precio total</th>
                                    <th>Vendedor</th>
                                    <th>Repartidor</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders">
                                    <td>{{order.orderDate | date:"dd/MM/yyyy"}}</td>
                                    <td>{{order.receptionDate | date:"dd/MM/yyyy"}}</td>
                                    <td>{{order.dispatchedDate | date:"dd/MM/yyyy"}}</td>
                                    <td>{{order.deliveryDate | date:"dd/MM/yyyy"}}</td>
                                    <td>S/.{{order.totalPrice.toFixed(2)}}</td>
                                    <td>{{order.seller}}</td>
                                    <td>{{order.deliveryMan}}</td>
                                    <td>{{order.status}}</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button (click)="editOrder(order.orderId)" type="button"
                                                class="btn btn-warning" data-toggle="modal"
                                                data-target="#modal-defaultorder">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button (click)="deleteOrder(order.orderId)" type="button"
                                                class="btn btn-danger">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-default" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form ngNativeValidate [formGroup]="formOrder" (ngSubmit)="submit()">
                    <div class="modal-header">
                        <h4 class="modal-title">{{creating?'Nuevo':'Editando'}} pedido</h4>
                        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="selectProduct">Producto</label>
                            <select name="Product" class="form-control" formControlName="ProductId">
                                <option value="" disabled selected hidden>Selecciona un producto</option>
                                <option *ngFor="let product of products" [value]="product.productId">
                                    {{product.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputQuantity">Cantidad</label>
                            <input required type="text" class="form-control" Name="" formControlName="Quantity"
                                class="form-control" placeholder="Ingresa la cantidad" required>
                        </div>
                        <div class="form-group">
                            <label for="inputSeller">Vendedor</label>
                            <select name="Seller" class="form-control" formControlName="Seller">
                                <option value="" disabled selected hidden>Selecciona un vendedor</option>
                                <option *ngFor="let seller of sellers" [value]="seller.userId">
                                    {{seller.name}} {{seller.lastName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputDeliveryMan">Repartidor</label>
                            <select name="DeliveryMan" class="form-control" formControlName="DeliveryMan">
                                <option value="" disabled selected hidden>Selecciona un repartidor</option>
                                <option *ngFor="let deliveryman of deliverymans" [value]="deliveryman.userId">
                                    {{deliveryman.name}} {{deliveryman.lastName}}</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-primary" (click)="addProduct()"><i
                                class="fa fa-save"></i>&nbsp;&nbsp;
                            Agregar</button>
                    </div>
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table"
                        class="table row-border hover">
                        <thead class="thead-light">
                            <tr>
                                <th>SKU</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let element of elements">
                                <td>{{element.sku}}</td>
                                <td>{{element.product}}</td>
                                <td>S/.{{element.price.toFixed(2)}}</td>
                                <td>{{element.quantity}}</td>
                                <td>S/.{{(element.price*element.quantity).toFixed(2)}}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button (click)="editElement(element.productid)" type="button"
                                            class="btn btn-warning">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button (click)="deleteElement(element.productid)"
                                            type="button" class="btn btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>S/.{{this.finalprice.toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">
                            Cerrar</button>
                        <button type="button" class="btn btn-primary" (click)="submit()"><i class="fa fa-save" ></i>&nbsp;&nbsp;
                            Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-defaultorder" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form ngNativeValidate [formGroup]="formEditOrder" (ngSubmit)="updateOrder()">
                    <div class="modal-header">
                        <h4 class="modal-title">Editando pedido</h4>
                        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputOrderDate">Fecha de pedido</label>
                            <input readonly type="text" class="form-control" Name="" formControlName="OrderDate"
                                class="form-control" placeholder="Ingrese fecha de pedido" required>
                        </div>
                        <div class="form-group" *ngIf="formEditOrder.value.State === 'En proceso'">
                            <label for="inputReceptionDate">Fecha de recepción</label>
                            <input required type="date" class="form-control" Name="" formControlName="ReceptionDate"
                                class="form-control" placeholder="Ingrese fecha de recepción">
                        </div>
                        <div class="form-group" *ngIf="formEditOrder.value.State === 'En delivery'">
                            <label for="inputDispatchedDate">Fecha de despacho</label>
                            <input required type="date" class="form-control" Name="" formControlName="DispatchedDate"
                                class="form-control" placeholder="Ingrese fecha de despacho">
                        </div>
                        <div class="form-group" *ngIf="formEditOrder.value.State === 'Recibido'">
                            <label for="inputDeliveryDate">Fecha de entrega</label>
                            <input required type="date" class="form-control" Name="" formControlName="DeliveryDate"
                                class="form-control" placeholder="Ingrese fecha de entrega">
                        </div>
                        <div class="form-group">
                            <label for="inputTotalPrice">Precio total</label>
                            <input readonly type="text" class="form-control" Name="" formControlName="TotalPrice"
                                class="form-control" placeholder="Ingrese precio total" required>
                        </div>
                        <div class="form-group">
                            <label for="inputSeller">Vendedor</label>
                            <select name="Seller" class="form-control" formControlName="Seller">
                                <option value="" disabled selected hidden>Seleccione un vendedor</option>
                                <option *ngFor="let seller of sellers" [value]="seller.userId">
                                    {{seller.name}} {{seller.lastName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputDeliveryMan">Repartidor</label>
                            <select name="DeliveryMan" class="form-control" formControlName="DeliveryMan">
                                <option value="" disabled selected hidden>Seleccione un repartidor</option>
                                <option *ngFor="let deliveryman of deliverymans" [value]="deliveryman.userId">
                                    {{deliveryman.name}} {{deliveryman.lastName}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="selectState">Estado</label>
                            <select name="State" class="form-control" formControlName="State" #selectState>
                                <option value="" disabled selected hidden>Seleccione un estado</option>
                                <option value="Por atender">Por atender</option>
                                <option value="En proceso">En proceso</option>
                                <option value="En delivery">En delivery</option>
                                <option value="Recibido">Recibido</option>
                            </select>
                        </div>
                    </div>
                    <table class="table"
                        class="table row-border hover">
                        <thead class="thead-light">
                            <tr>
                                <th>SKU</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let orderxproduct of orderxproducts">
                                <td>{{orderxproduct.sku}}</td>
                                <td>{{orderxproduct.name}}</td>
                                <td>S/.{{orderxproduct.price}}</td>
                                <td>{{orderxproduct.quantity}}</td>
                                <td>S/.{{(orderxproduct.price*orderxproduct.quantity).toFixed(2)}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>S/.{{this.finalprice.toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">
                            Cerrar</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;
                            Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>