<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Productos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
                    <li class="breadcrumb-item active">Productos</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" (click)="creating=true;" data-toggle="modal"
                    data-target="#modal-default"><i class="fa fa-plus"></i>&nbsp;&nbsp; Nuevo producto</button>
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Lista de productos</h3>
                    </div>
                    <div class="card-body table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table" class="table row-border hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>SKU</th>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th>Etiquetas</th>
                                    <th>Precio</th>
                                    <th>Unidad de medida</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of products">
                                    <td>{{product.productId}}</td>
                                    <td>{{product.sku}}</td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.kind}}</td>
                                    <td>{{product.label}}</td>
                                    <td>S/.{{product.price.toFixed(2)}}</td>
                                    <td>{{product.unitMeasurement}}</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button (click)="edit(product.productId)" type="button" class="btn btn-warning" data-toggle="modal"
                                            data-target="#modal-default">
                                                <i class="fas fa-edit" ></i>
                                            </button>
                                            <button (click)="delete(product.productId)" type="button" class="btn btn-danger">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-default"  data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ngNativeValidate [formGroup]="formProduct" (ngSubmit)="submit()">
                    <div class="modal-header">
                        <h4 class="modal-title">{{creating?'Nuevo':'Editando'}} Producto</h4>
                        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputSKU">SKU</label>
                            <input required type="text" class="form-control" name="" formControlName="SKU" 
                                class="form-control" placeholder="Ingrese SKU" required>
                        </div>
                        <div class="form-group">
                            <label for="inputName">Nombre</label>
                            <input required type="text" class="form-control" name="" formControlName="Name" 
                                class="form-control" placeholder="Ingrese nombre de producto" required>
                        </div>
                        <div class="form-group">
                            <label for="inputKind">Tipo</label>
                            <input required type="text" class="form-control" name="" formControlName="Kind" 
                                class="form-control" placeholder="Ingrese tipo de producto" required>
                        </div>
                        <div class="form-group">
                            <label for="inputLabel">Etiquetas</label>
                            <input required type="text" class="form-control" name="" formControlName="Label" 
                                class="form-control" placeholder="Ingrese etiquetas" required>
                        </div>
                        <div class="form-group">
                           <label for="inputPrice">Precio</label>
                            <input required type="text" class="form-control" name="" formControlName="Price" 
                                class="form-control" placeholder="Ingrese precio" required>
                        </div>
                        <div class="form-group">
                            <label for="inputUnitMeasurement">Unidad de Medida</label>
                             <input required type="text" class="form-control" name="" formControlName="UnitMeasurement" 
                                 class="form-control" placeholder="Ingrese unidad de medida" required>
                         </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()"> Cerrar</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;
                            Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



