<div class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>Sistema</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Ingrese sus credenciales</p>

                <form ngNativeValidate [formGroup]="formLogin" (ngSubmit)="submit()">

                    <div class="input-group mb-3">
                        <input required type="text" class="form-control" name="" formControlName="email"
                            class="form-control" placeholder="Ingrese correo" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input required type="password" class="form-control" name="" formControlName="password"
                            class="form-control" placeholder="Ingrese contraseña" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        </div>
                        <br><br>
                        
                    </div>
                </form>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
