<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Usuarios</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Mantenimiento</a></li>
                    <li class="breadcrumb-item active">Usuarios</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" (click)="creating=true;" data-toggle="modal"
                    data-target="#modal-default"><i class="fa fa-plus"></i>&nbsp;&nbsp; Nuevo usuario</button>
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Lista de usuarios</h3>
                    </div>
                    <div class="card-body table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table" class="table row-border hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Teléfono</th>
                                    <th>Puesto</th>
                                    <th>Rol</th>
                                    <th>Correo</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td>{{user.code}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>{{user.phone}}</td>
                                    <td>{{user.position}}</td>
                                    <td>{{user.role}}</td>
                                    <td>{{user.email}}</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button (click)="edit(user.userId)" type="button" class="btn btn-warning" data-toggle="modal"
                                            data-target="#modal-default">
                                                <i class="fas fa-edit" ></i>
                                            </button>
                                            <button (click)="delete(user.userId)" type="button" class="btn btn-danger">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-default"  data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ngNativeValidate [formGroup]="formUser" (ngSubmit)="submit()">
                    <div class="modal-header">
                        <h4 class="modal-title">{{creating?'Nuevo':'Editando'}} Usuario</h4>
                        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputCode">Codigo</label>
                            <input type="text" class="form-control" Name="" formControlName="Code" 
                                class="form-control" placeholder="Ingrese código" required>
                        </div>
                        <div class="form-group">
                            <label for="inputName">Nombre</label>
                            <input type="text" class="form-control" Name="" formControlName="Name" 
                                class="form-control" placeholder="Ingrese nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="inputLast Name">Apellido</label>
                            <input type="text" class="form-control" Name="" formControlName="LastName" 
                                class="form-control" placeholder="Ingrese apellido" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPhone">Teléfono</label>
                            <input type="text" class="form-control" Name="" formControlName="Phone" 
                                class="form-control" placeholder="Ingrese teléfono" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPhone">Puesto</label>
                            <input type="text" class="form-control" Name="" formControlName="Position" 
                                class="form-control" placeholder="Ingrese puesto" required>
                        </div>
                        <div class="form-group">
                            <label for="selectRole">Rol</label>
                            <select name="Role" class="form-control" formControlName="Role">
                                <option value="" disabled selected hidden>Selecciona un rol</option>
                                <option value="Encargado">Encargado</option>
                                <option value="Vendedor">Vendedor</option>
                                <option value="Delivery">Delivery</option>
                                <option value="Repartidor">Repartidor</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Correo</label>
                            <input type="text" class="form-control" Name="" formControlName="Email" 
                                class="form-control" placeholder="Ingrese correo" required>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" Name="" formControlName="Password" 
                                class="form-control" placeholder="Ingrese contraseña" required>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()"> Cerrar</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;
                            Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

